<div id="page-about" class="bags-page">
	<div class="page-container">
        <h4>About Zero Litter</h4>
        <div class="thick-hr"></div>
        <p>The Zero Litter Project is a service learning project that taps into the creativity, passion and leadership of todays youth to help solve the issue of litter. By working with a range of partners including schools and school districts, municipalities, community based organizations, businesses and concerned citizens, students take a solutions oriented approach to eliminating litter in their communities. Students employ a number of strategies to accomplish their regional and project specific goals including direct litter pick ups and data collection, litter awareness and education campaigns, source reductions and more.</p>
        <p>The Zero Litter Project takes an open-source approach to creating and sharing resources and best practices. Students curate Zero Litter Project blogs featuring engaging stories and media that outline their experience, challenges and successes initiating change in their communities. Curriculum is available free of charge to help teachers and students alike realize their own Zero Litter project goals.
    </p>
    <p>We are grateful to <a href="http://bagsintrees.org">BagsinTrees.org</a> for providing the open source code that our website is based on. Our source code is available to view and adapt to your project needs on <a href="https://github.com/EarthTeam/zerolitter">Github</a>.
    </p>
    </div>
</div>
<div ng-include="'views/footer.html'"></div>