<div id="page-recent" ng-controller="recentsController">
        <br/>
        <div style="text-align:center" width="100%">
            <div width="100%" class="recents">
                <span ng-repeat="bag in recentBags" on-finish-render="ngRepeatFinished">
                    <span style="width:150px; height:150px;">
                        <nobr>
                            <a href="/#/full/{{bag.id}}"><img ng-src="{{bag.thumbnailUrl}}" class="bordered-img recent-img" style="vertical-align: inherit;" onError="this.onerror=null;this.src='../img/not-found.png'"></a>
                        </nobr>
                    </span>
                </span>         
            </div>
</div>
<div ng-include="'views/footer.html'"></div>