<div id="page-recent" ng-controller="topTaggersController">
    <br/>
    <div width="100%" class="top-taggers-list">
        <div ng-repeat="user in topTaggers" class="row alternating-color-row" ng-click="goToUser(user)">
                <a href="/#/user/{{user.id}}"><img ng-src="{{user.profilePicture}}" class="pull-left user-photo" style="margin-right:5px;"></a>
                    <div style="width: 300px; display: inline-block; margin-top: 17px;">
                    <a href="/#/user/{{user.id}}">{{user.name}}</a>
                    </div>
                    <br>
                    <div style="width: 200px; display: inline-block;">
                    <span style="font-size: 30px; font-weight: bold;">{{user.tagCount}}</span>
                </div>
            
        </div>
    </div>
<div ng-include="'views/footer.html'"></div>