#map {
  width:960px;
  height:500px;
}
#legend {
  position: absolute;
  top: 3px;
  /*left: 780px;*/
  left: calc(100% - 200px);
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  z-index: 100;
  font-size: 1em;
  font-family: sans-serif;
  width: 165px;
  background: rgba(255,255,255,0.6);
}
.legendheading {
  position: relative;
  height: 25px;
  padding: 5px 2px 0px 2px;
  font-size: larger;
  font-weight: bold;
}
.legenditem {
  padding: 2px;
  margin-bottom: 2px;
}

/*Marker clusters*/
.marker-cluster-pie g.arc{
  fill-opacity: 0.5;
}
.marker-cluster-pie-label {
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px white, 0 0 0.5em white, 0 0 0.3em white, 0 0 0.2em white, 0 0 0.1em white, 0 0 5px white;
}

/*Markers*/
.marker {
  width: 18px;
  height: 18px;
  border-width: 2px;
  border-radius:10px;
  margin-top: -10px;
  margin-left: -10px;
  border-style: solid;
  fill: #CCC;
  stroke: #444;
  background: #CCC;
  border-color: #444;
}
.marker div{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/*marker categories*/
.category-metal,
.category-1{
  fill: #F88;
  stroke: #800;
  background: #F88;
  border-color: #800;
}
.category-glass,
.category-2{
  fill: #FA0;
  stroke: #B60;
  background: #FA0;
  border-color: #B60;
}
.category-plastic,
.category-3{
  fill: #FF3;
  stroke: #D80;
  background: #FF3;
  border-color: #D80;
}
.category-organic-matter,
.category-4{
  fill: #BFB;
  stroke: #070;
  background: #BFB;
  border-color: #070;
}
.category-paper-and-lumber,
.category-paper-lumber,
.category-5{
  fill: #9DF;
  stroke: #007;
  background: #9DF;
  border-color: #007;
}
.category-other-material,
.category-6{
  fill: #CCC;
  stroke: #444;
  background: #CCC;
  border-color: #444;
}

/*marker icons*/
.icon-1{
  background-image: url('http://www.iconsdb.com/icons/download/black/running-16.png');
  background-repeat: no-repeat;
  background-position: 0px 1px;
}
.icon-2{
  background-image: url('http://www.iconsdb.com/icons/download/black/bicycle-16.png');
  background-repeat: no-repeat;
  background-position: 1px -2px;
}
.icon-3{
  background-image: url('http://www.iconsdb.com/icons/download/black/motorcycle-16.png');
  background-repeat: no-repeat;
  background-position: 1px -2px;
}
.icon-4{
  background-image: url('http://www.iconsdb.com/icons/download/black/car-16.png');
  background-repeat: no-repeat;
  background-position: 1px -2px;
}

/*Popup*/
.map-popup span.heading {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}
.map-popup span.attribute {
  display: block;
}
.map-popup span.label {
  font-weight: bold;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  
  #map {
    width:320px;
    height:167px;
  }

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
    #map {
    width:320px;
    height:167px;
  }

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  
    #map {
    width:480px;
    height:120px;
  }


}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  
    #map {
    width:320px;
    height:167px;
  }


}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
    #map {
    width:320px;
    height:167px;
  }

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  
    #map {
    width:568px;
    height:296px;
  }


}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  
    #map {
    width:375px;
    height:195px;
  }


}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
  
    #map {
    width:375px;
    height:195px;
  }


}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  
    #map {
    width:667px;
    height:347px;
  }


}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
  
    #map {
    width:414;
    height:216px;
  }


}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  
  #map {
    width:414px;
    height:216px;
  }


}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
  
  #map {
    width:736px;
    height:383px;
  }


}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

  #map {
    width:768px;
    height:400px;
  }

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

  #map {
    width:1024px;
    height:532px;
  }

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

  #map {
    width:768px;
    height:400px;
  }

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {

  #map {
    width:1440px;
    height:700px;
  }

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {

  #map {
    width:1920px;
    height:1000px;
  }

}
